@use "../abstracts/index" as abs;

.modal {
  @include abs.position(fixed, 0, 0, 0, 0, 100%, 100%);
  @include abs.align(flex, center, center, auto);
  background: rgb(0, 0, 0, 0.4);

  &__body {
    background: abs.$white;
    width: 38rem;
    height: auto;
    padding: 2rem;
    font-size: 1.4rem;
    @include abs.animation(modalAnimate, 0.5s, linear, -10rem, 0);
  }
}
